# Sepolia Testnet
SEPOLIA_URL=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID

# Clé privée (sans 0x)
PRIVATE_KEY=your_private_key_here
 
# Etherscan API Key (optionnel)
ETHERSCAN_API_KEY=your_etherscan_api_key_here 